@font-face {
  font-family: berlin;
  src: url(./Fonts/BRLNSB.TTF);
}
@font-face {
  font-family: berlinbold;
  src: url(./Fonts/BRLNSDB.TTF);
}
@font-face {
  font-family: berlinsuperbold;
  src: url(./Fonts/BRLNSR.TTF);
}
@font-face {
  font-family: Gil;
  src: url(./Fonts/GIL_____.TTF);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex: auto;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
